<!-- Competiton navbar -->

<% if (currentUser) { %>
<div class="ui container">
    <div id="navbar" class="ui menu raised pointing">
        <div class="right menu">
            <a href="/competitions/new" class="item">
                Create Competition
            </a>
        </div>
    </div>
</div>
<% } %>