<!-- Competiton navbar -->

<% if (currentUser) { %>
<div class="ui fluid container">
    <div class="ui vertical right floated menu">
        <a href="/competitions/new" class="item">
                Create Competition
        </a>
    </div>
</div>
<% } %>