

    <div id="footer" class="ui container">
        <p id="copyright">Copyright Edwin Boersema 2019</p>
    </div>
    </body>
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>
    <script src="/js/semantic.min.js"></script>
    <script src="/js/newComp.js"></script>

</html>