<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>ClimbingCompetitions</title>
    
    <link rel="stylesheet" href="./css/semantic.css">
    <link rel="stylesheet" href="./css/styling.css">
</head>
<body>
    
    <div class="ui fluid container">
        <div id="navbar" class="ui menu raised pointing">
            <a href="/" class="item">
                Home
            </a>
            <a href="/competitions" class="item">
                Competitions
            </a>
            <a href="/athletes" class="item">
                Athletes
            </a>
            <div class="right menu">
                <a href="/register" class="item">
                    Register
                </a>
                <a href="/login" class="item">
                    Login
                </a>
                <a href="/logout" class="item">
                    Logout
                </a>
            </div>
        </div>
    </div>

    