<% include ../partials/header %>
<% include ../partials/compnav %>


<div class="ui container">
    <h1>Competitions</h1>
</div>

<div class="ui items container">
    <% competitions.forEach((competition) => { %>
    <div class="ui item grid compItem">
        <div class="row compTitle">
            <a href="/competitions/<%= competition._id%>">
                <h2><%= competition.name %></h2>
            </a>
        </div>
        <div class="row">
                <% competition.category.forEach((category) => { %>
                <div class="four wide collumn compCategory">
                    <%= category.name + " " + category.gender %>
                </div>
            <% }); %>
        </div>
        <div class="row">
            <%= competition.info %>
        </div>
    </div>
    <div class="ui divider"></div>
    <% }); %>
</div>

<% include ../partials/footer %>