:root {
    --darkblue: #071556;
    --lightblue: #37B7FF;
    --lila: #EB48CC;
    --white: #E9F4F5;
    --brown: #948446;
}

h1 {
    color: var(--brown);
}

a {
    color: var(--brown);
}

a:hover {
    color: var(--brown);
}

.compTitle {
    color: var(--brown);
}

.compCategory {
    color: var(--lightblue);
    background-color: var(--darkblue);
}

.showContainer {
    margin-top: 20px;
}